@use '../abstracts/' as a;

.button-wrapper {
    width: 100px;
    padding: 10px;
	font-family: "Plus Jakarta Sans", sans-serif;
    border: none;
    background-color: a.$grey;
    border-radius: 8px;
}